@import '../_colors.scss';
@import '../_layout.scss';

.categories {
    @include mat;
    @include border-def-radius;
    @include shadow-mild;
    @include mat-padding;

    li {
        @include column;

        a {
            padding: 12px 0;
            border-bottom: 1px dashed $Text-4;
        }
    }

    li:last-child a {
        border: 0;
    }
}

.main-slideshow {
    overflow: hidden;
    @include border-def-radius;
    @include shadow-mild;

    .uk-dotnav {
        height: 16px;
    }
}

.gallery-grid {
    .grid {
        @include grid-gap(224px,8px);

        a {
            display: flex;
            width: 100%;

            img {
                max-height: 200px;
                @include obj;
                @include border-def-radius;
                margin: auto;
            }
        }
    }
}

.service {
    .body {
        display: grid;
    }
}

.questions {
    ul {
        li {
            @include mat-padding;
            margin-top: 0 !important;
            border-bottom: solid $mat-border-color 1px;
        }
    }
}
