/*Star*/
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.rowr {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.colr {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.categories {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  padding: 12px; }
  .categories li {
    display: flex;
    flex-direction: column; }
    .categories li a {
      padding: 12px 0;
      border-bottom: 1px dashed #ccc; }
  .categories li:last-child a {
    border: 0; }

.main-slideshow {
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px; }
  .main-slideshow .uk-dotnav {
    height: 16px; }

.gallery-grid .grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr)); }
  .gallery-grid .grid a {
    display: flex;
    width: 100%; }
    .gallery-grid .grid a img {
      max-height: 200px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      margin: auto; }

.service .body {
  display: grid; }

.questions ul li {
  padding: 12px;
  margin-top: 0 !important;
  border-bottom: solid #e9e9e9 1px; }

.main-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px; }
  .main-contact .left {
    display: flex;
    flex-direction: column;
    grid-gap: 12px; }
    .main-contact .left .sellers ul {
      display: grid;
      display: grid;
      grid-template-rows: auto;
      grid-gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
      direction: rtl; }
      .main-contact .left .sellers ul li {
        direction: ltr;
        padding: 8px;
        background-color: #f8f8f8;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        display: flex;
        flex-direction: column;
        grid-gap: 4px; }
        .main-contact .left .sellers ul li label {
          font-size: 13px;
          color: #666; }
        .main-contact .left .sellers ul li span {
          color: #333;
          font-size: 16px; }
  .main-contact .right {
    display: flex;
    flex-direction: column;
    grid-gap: 12px; }
    .main-contact .right .telegram, .main-contact .right .instagram {
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      overflow: hidden; }
      .main-contact .right .telegram img, .main-contact .right .instagram img {
        width: 100%;
        height: auto; }

@media only screen and (max-width: 724px) {
  .main-contact {
    grid-template-columns: 1fr; } }

.gallery-main {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr)); }
  .gallery-main a {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    .gallery-main a img {
      margin: auto;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
