<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش برند
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>نام برند</label>
                <input class="form-control form-control-sm" placeholder="مثال: سامسونگ">
            </div>
        </div>
        <label class="mt-2">تصویر برند</label>
        <br />
        <div class="custom-file col-md-7">
            <input type="file" class="custom-file-input form-control form-control-sm">
            <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب تصویر</label>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
    </div>
</form>