
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="bookmarks mat-card">
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
</div>
