@model IEnumerable<TblProduct>
@{
    ViewData["Title"] = "علاقه مندی ها";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="bookmarks mat-card">
    @foreach (var item in Model)
    {
        <partial name="_ProductBlock" model="item" />
    }
</div>
