
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="mat-card details">
    <table dir="rtl">
        <thead>
            <tr>
                <th></th>
                <th uk-lightbox>
                    <a href="~/st/r/phones/p1.jpg">
                        <img src="~/st/r/phones/p1.jpg" alt="" />
                        <h5>گوشی سامسونگ مدل Galaxy Note 20 جدید</h5>
                        <label>3,480,000</label>
                        <label>3,360,000</label>
                    </a>
                </th>
                <th uk-lightbox>
                    <a href="~/st/r/phones/p2.jpg">
                        <img src="~/st/r/phones/p2.jpg" alt="" />
                        <h5>گوشی سامسونگ مدل Galaxy Note 20 جدید</h5>
                        <label>3,480,000</label>
                        <label>3,360,000</label>
                    </a>
                </th>
                <th uk-lightbox>
                    <a href="~/st/r/phones/p3.jpg">
                        <img src="~/st/r/phones/p3.jpg" alt="" />
                        <h5>گوشی سامسونگ مدل Galaxy Note 20 جدید</h5>
                        <label>3,480,000</label>
                        <label>3,360,000</label>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ابعاد</td>
                <td>7.9x73.6x158.5 میلی‌متر</td>
                <td>7.9x73.6x158.5 میلی‌متر</td>
                <td>7.9x73.6x158.5 میلی‌متر</td>
            </tr>
            <tr>
                <td>توضیحات سیم کارت</td>
                <td>سایز نانو   8.8 × 12.3 میلی‌متر</td>
                <td>سایز نانو   8.8 × 12.3 میلی‌متر</td>
                <td>سایز نانو   8.8 × 12.3 میلی‌متر</td>
            </tr>
            <tr>
                <td>وزن</td>
                <td>172 گرم</td>
                <td>172 گرم</td>
                <td>172 گرم</td>
            </tr>
            <tr>
                <td>ساختار بدنه</td>
                <td>قاب جلو شیشه + قاب پشت و فریم پلاستیکی</td>
                <td>قاب جلو شیشه + قاب پشت و فریم پلاستیکی</td>
                <td>قاب جلو شیشه + قاب پشت و فریم پلاستیکی</td>
            </tr>
            <tr>
                <td>ویژگی‌های خاص</td>
                <td>مجهز به حس‌گر اثرانگشت , فبلت , مناسب عکاسی , مناسب عکاسی سلفی</td>
                <td>مجهز به حس‌گر اثرانگشت , فبلت , مناسب عکاسی , مناسب عکاسی سلفی</td>
                <td>مجهز به حس‌گر اثرانگشت , فبلت , مناسب عکاسی , مناسب عکاسی سلفی</td>
            </tr>
            <tr>
                <td>تعداد سیم کارت</td>
                <td>دو سیم کارت</td>
                <td>دو سیم کارت</td>
                <td>دو سیم کارت</td>
            </tr>
            <tr>
                <td>زمان معرفی</td>
                <td>12 دسامبر 2019</td>
                <td>12 دسامبر 2019</td>
                <td>12 دسامبر 2019</td>
            </tr>
            <tr>
                <td>تراشه</td>
                <td>Exynos 9611 CPU</td>
                <td>Exynos 9611 CPU</td>
                <td>Exynos 9611 CPU</td>
            </tr>
        </tbody>
    </table>
</div>