@model IEnumerable<ShopCartItemVm>
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    <partial name="_Cart" model="Model" />
    <a href="/User/Order/Finalize" class="btn btn-primary uk-margin-auto-left">نهایی سازی خرید</a>

}
else
{
    <script>
        window.location.href = "/";
    </script>
}