
@{
    ViewData["Title"] = "Index";
    ViewData["Image"] = "/st/r/Entry_1.png";
    Layout = "_AccountLayout.cshtml";
}

<div class="form-block col">

    <h3 class="uk-margin-medium-bottom">
        تغییر رمز عبور
    </h3>

    <div class="fg-col">
        <label class="fg-label">رمز عبور جدید</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <label class="fg-label">تکرار رمز عبور</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="actions gap-t">
        <button class="btn btn-primary">تایید</button>
    </div>

</div>