
@{
    ViewData["Title"] = "Index";
    Layout = "_AccountLayout.cshtml";
}

<div class="form-block col">

    <h3 class="uk-margin-medium-bottom">
        فراموشی رمز عبور
    </h3>

    <div class="fg-col">
        <label class="fg-label">شماره تلفن</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="actions gap-t">
        <a href="/Login" class="btn btn-link">بازگشت</a>
        <button class="btn btn-primary">ثبت</button>
    </div>

</div>