
@{
    ViewData["Title"] = "Index";
    ViewData["Image"] = "/st/r/Entry_1.png";
    Layout = "_AccountLayout.cshtml";
}

<div class="form-block col">

    <h3 class="uk-margin-medium-bottom">
        ورود
    </h3>

    <div class="fg-col">
        <label class="fg-label">شماره تلفن</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <label class="fg-label">گذر واژه</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <a href="/Account/ForgotPassword">فراموشی رمز عبور</a>
    </div>

    <div class="actions gap-t">
        <a href="/Register" class="btn btn-link">ثبت نام</a>
        <button class="btn btn-primary">ورود</button>

    </div>

</div>