
@{
    ViewData["Title"] = "Index";
    Layout = "_AccountLayout.cshtml";
}

<div class="form-block col">

    <h3 class="uk-margin-medium-bottom">
        ثبت نام
    </h3>

    <div class="fg-col">
        <label class="fg-label">شماره تلفن</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <label class="fg-label">گذر واژه</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <label class="fg-label">تکرار گذرواژه</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="actions gap-t">
        <a href="/Account" class="btn btn-link">ورود</a>
        <button class="btn btn-primary">ثبت نام</button>

    </div>

</div>