@model IEnumerable<TblBlog>
@{
    ViewData["Title"] = "مقاله ها";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/blog.min.css" rel="stylesheet" />
}

<nav class="breadcrumb uk-padding-remove gap-b">
    <a href="#">وبلاگ ها</a>
    <a href="#" class="active">تمام وبلاگ ها</a>
</nav>

<div class="blogs-grid">
    @foreach (var item in Model)
    {
        <partial name="_BlogBlock" model="item" />
    }
</div>

<div class="uk-child-width-1-2 row gap-t gap-card">
    @await Component.InvokeAsync("AdView")
    @await Component.InvokeAsync("AdView")
</div>