
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/blog.min.css" rel="stylesheet" />

}

@section Aside{

    <partial name="_BlogBlock" />
    <partial name="_Ad" />

}

<nav class="breadcrumb uk-padding-remove">
    <a href="">وبلاگ ها</a>
    <a href="" class="active">نقد و بررسی هواوی</a>
</nav>

<div class="mat-card">
    <h3>نقد و بررسی هواوی MediaPad M5 Lite 8</h3>
    <p>
        نقد و بررسی هوآوی MediaPad M5 Lite 8
        نسخه مدیا‌پَد اِم 5 لایت8 توسط شرکت هوآوی چین در مارس 2019 معرفی و در همان ماه نیز در بازار منتشر شد. این نسخه از مدیاپَدهای هوآوی میان‌رده محسوب می‌شوند. زیرا براساس تکنولوژی‌های بکار رفته در آن (که در ادامه بیشتر درباره آن‌ها صحبت خواهیم کرد) نمی‌توانند برنامه‌های نیازمند به گرافیک بالا را پشتیبانی کنند. این در حالی است که روند توسعه کیفی و تکنولوژیکی تبلت‌ها (برخلاف گوشی‌های هوشمند) بطور کلی و در سطح جهانی کُند است و به همین خاطر نمی‌توان توقع چندانی از تبلت‌ها بطور کلی و بطور خاص این سری از تبلت‌های هوآوی داشت. اگرچه خواهیم دید که ویژگی‌های تکنولوژیکی آن، دستهِ کمی از تکنولوژی‌های پیشرفته گوشی‌های هوشمند ندارد.
    </p>
    <img src="~/st/r/ads/a3.jpg" alt="" />
</div>

<div class="mat-card">
    <h4>
        نظر شما
    </h4>
    <div class="fg-col uk-margin-small-top">
        <textarea class="entry"></textarea>
        <div class="rowr uk-margin-small-top">
            <button class="btn btn-dashed uk-margin-auto-top">ثبت نظر</button>
        </div>
    </div>
</div>

<div class="comment-section mat-card">
    <h3>نظرات کاربران</h3>
    <ul>
        <li>
            <partial name="_CommentBlock" />
        </li>
        <li>
            <partial name="_CommentBlock" />
        </li>
        <li>
            <partial name="_CommentBlock" />
        </li>
    </ul>
</div>
