@model TblBlog
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/blog.min.css" rel="stylesheet" />

}

@section Aside{

    <partial name="_BlogBlock" />
    <partial name="_Ad" />

}

<nav class="breadcrumb uk-padding-remove">
    <a href="/Blog">وبلاگ ها</a>
    <a href="#" class="active">@Model.Title</a>
</nav>

<div class="mat-card">
    <h3>@Model.Title</h3>
    <img style="display:block;margin:0 auto;" src="~/Images/Blogs/@Model.MainImage" alt="" />

    <p>
        @Model.Description
    </p>
    <p>
        @Html.Raw(Model.BodyHtml)
    </p>
</div>


@await Component.InvokeAsync("SendCommentBlogView", Model.BlogId)


<div class="comment-section mat-card">
    <h3>نظرات کاربران</h3>
    <ul>
        @foreach (var item in Model.TblBlogCommentRel.Where(i => i.Comment.IsValid))
        {
            <li>
                <partial name="_CommentBlock" model="item.Comment" />
            </li>
        }
    </ul>
</div>
