@model TblBlog
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/blog.min.css" rel="stylesheet" />

}

@section Aside{

    <partial name="_BlogBlock" />
    <partial name="_Ad" />

}

<nav class="breadcrumb uk-padding-remove">
    <a href="">وبلاگ ها</a>
    <a href="" class="active">نقد و بررسی هواوی</a>
</nav>

<div class="mat-card">
    <h3>@Model.Title</h3>
    <img style="display:block;margin:0 auto;" src="~/Images/Blogs/@Model.MainImage" alt="" />

    <p>
        @Model.Description
    </p>
    <p>
        @Html.Raw(Model.BodyHtml)
    </p>
</div>

<div class="mat-card">
    <h4>
        نظر شما
    </h4>
    <div class="fg-col uk-margin-small-top">
        <textarea class="entry"></textarea>
        <div class="rowr uk-margin-small-top">
            <button class="btn btn-dashed uk-margin-auto-top">ثبت نظر</button>
        </div>
    </div>
</div>

<div class="comment-section mat-card">
    <h3>نظرات کاربران</h3>
    <ul>
        <li>
            <partial name="_CommentBlock" />
        </li>
        <li>
            <partial name="_CommentBlock" />
        </li>
        <li>
            <partial name="_CommentBlock" />
        </li>
    </ul>
</div>
