@model TblAlbum
@{
    ViewData["Title"] = "آلبوم"+ Model.Name;
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}

<div class="mat-card col">
    <div class="gallery-grid">
        <h3 class="uk-margin-bottom">   گالری محصول   @Model.Name</h3>
        <div class="grid" uk-lightbox>
            @foreach (var item in Model.TblImage)
            {
                <a href="~/Images/ProductAlbum/@item.Image" data-caption="@Model.Name"><img src="~/Images/ProductAlbum/@item.Image" alt="@Model.Name" /></a>
            }
        </div>
        <div class="row">
            <button class="btn btn-dashed uk-margin-auto" onclick="window.history.back()">بازگشت</button>
        </div>
    </div>
</div>