@model IEnumerable<TblAlbum>
@{
    ViewData["Title"] = "آلبوم";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}

<div class="mat-card col">
    <div class="gallery-grid">
        <h3 class="uk-margin-bottom">گالری</h3>
        <div class="grid" uk-lightbox>
            @*@foreach (var item in Model)
            {
                <a href="~/Images/ProductAlbum/@item.Image" data-caption="@item.Album.Name"><img src="~/Images/ProductAlbum/@item.Image" alt="" /></a>
            }*@
            <a href="~/st/r/ads/a1.jpg" data-caption=""><img src="~/st/r/ads/a1.jpg" alt="" /></a>
            <a href="~/st/r/ads/a2.jpg" data-caption=""><img src="~/st/r/ads/a2.jpg" alt="" /></a>
            <a href="~/st/r/ads/a3.jpg" data-caption=""><img src="~/st/r/ads/a3.jpg" alt="" /></a>
            <a href="~/st/r/ads/a4.jpg" data-caption=""><img src="~/st/r/ads/a4.jpg" alt="" /></a>
            <a href="~/st/r/ads/a1.jpg" data-caption=""><img src="~/st/r/ads/a1.jpg" alt="" /></a>
            <a href="~/st/r/ads/a2.jpg" data-caption=""><img src="~/st/r/ads/a2.jpg" alt="" /></a>
            <a href="~/st/r/ads/a3.jpg" data-caption=""><img src="~/st/r/ads/a3.jpg" alt="" /></a>
            <a href="~/st/r/ads/a4.jpg" data-caption=""><img src="~/st/r/ads/a4.jpg" alt="" /></a>
        </div>
        <div class="row">
            <button class="btn btn-dashed uk-margin-auto" onclick="window.history.back()">بازگشت</button>
        </div>
    </div>
</div>