@model IEnumerable<TblImage>
@if (Model.Any())
{
    <div class="gallery-grid mat-card">
        <div class="title">
            <a href="#" class="dot-container">
                <img src="~/st/v/dot.svg" alt="" class="dot" />
                <h3>گالری</h3>
            </a>
        </div>
        <div class="grid">
            @foreach (var item in Model)
            {
                <a href="/AlbumView/@item.AlbumId/@item.Album.Name" ><img src="~/images/ProductAlbum/@item.Image" alt="" /></a>
            }
        </div>
        <div class="row">
            <a class="btn btn-secondary uk-margin-auto" href="/Gallery">بیشتر</a>
        </div>
    </div>
}