@model TblComment
<div class="mat-card gap-t">
    <h4>
        نظر شما
    </h4>
    <div class="fg-col uk-margin-small-top">
        <textarea class="entry"></textarea>
        <div class="rowr uk-margin-small-top">
            <button class="btn btn-dashed uk-margin-auto-top">ثبت نظر</button>
            <div class="row star-container uk-margin-auto-right">
                <span class="star-cb-group">
                    <input type="radio" id="rating-5" name="Raiting" value="5" /><label for="rating-5">5</label>
                    <input type="radio" id="rating-4" name="Raiting" value="4" checked="checked" /><label for="rating-4">4</label>
                    <input type="radio" id="rating-3" name="Raiting" value="3" /><label for="rating-3">3</label>
                    <input type="radio" id="rating-2" name="Raiting" value="2" /><label for="rating-2">2</label>
                    <input type="radio" id="rating-1" name="Raiting" value="1" /><label for="rating-1">1</label>
                    <input type="radio" id="rating-0" name="Raiting" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                </span>
            </div>
        </div>
    </div>
</div>