<nav class="user-navigation col">
    <a href="/User/Profile" class="active">پروفایل</a>
    <a href="/User/Profile/ChangePassword">تغییر رمز عبور</a>
    <a href="/User/Wallet">کیف پول</a>
    <a href="/User/Cart">سبد خرید</a>
    <a href="/User/Comparison">لیست مقایسه</a>
    <a href="/User/Order">سابقه خرید ها</a>
    <a href="/User/Order/Fractionals">سابقه خرید اقساطی</a>
    <a href="/User/Bookmarks">لیست علاقه مندی ها</a>
    <a href="/User/Ticket">پشتیبانی</a>
    <a href="/User/Order/OnlineOrder">سفارش آنلاین</a>
</nav>