<nav class="user-navigation col">
    <a href="" class="active">گزینه</a>
    <a href="">تغییر رمز عبور</a>
    <a href="">کیف پول</a>
    <a href="">سبد خرید</a>
    <a href="">لیست مقایسه</a>
    <a href="">سابقه خرید ها</a>
    <a href="">لیست علاقه مندی ها</a>
    <a href="">پیگیری سفارش</a>
    <a href="">پشتیبانی</a>
</nav>