
@{
    ViewData["Title"] = "نتیجه پرداخت";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">قصر موبایل </a></li>
        <li class="breadcrumb-item active" aria-current="page">نتیجه پرداخت</li>
    </ul>
</nav>

<div class="container">
    <div class="alert alert-success">
        <h2>پرداخت با  کیف پول شما با موفقیت انجام شد</h2>
    </div>
</div>