@model DiscountVm
@if (Model != null)
{
    <form action="/ShopCart/Payment" id="mainForm" class="col g-3" method="post">
        <div class="mat-card">
            <h4 class="uk-margin-small-bottom">
                انتخاب آدرس
            </h4>
            <div class="fg-col">
                <label class="fg-label">آدرس</label>
                <textarea class="entry" name="address" required></textarea>
            </div>
        </div>

        <div class="mat-card">
            <h4 class="uk-margin-small-bottom">
                روش های ارسال
            </h4>
            <div class="fg-col">
                <label class="radio">
                    <span>ارسال با پیک</span>
                    <input id="radio" name="radio" checked class="uk-radio" value="سیب" type="radio">
                </label>
                <label class="radio">
                    <span>ارسال با پست</span>
                    <input id="radio" name="radio" class="uk-radio" value="موز" type="radio">
                </label>
                <label class="radio">
                    <span>ارسال با چاپاره</span>
                    <input id="radio" name="radio" class="uk-radio" value="هلو" type="radio">
                </label>
                <label class="radio">
                    <span>ارسال با تیپاکس</span>
                    <input id="radio" name="radio" class="uk-radio" value="آلبالو" type="radio">
                </label>
            </div>
        </div>

        <hr class="uk-divider-icon uk-margin-small" />

        <div class="mat-card col">
            <h3>
                پرداخت
            </h3>
            <p class="uk-alert uk-alert-warning">
                مشتری محترم، لطفا دقت کنید مبلغ پرداخت شده غیر قابل عودت می باشد، لطفا قبل از خرید اطمینان حاصل فرمایید
            </p>


            <div class="rowr" >

                <div class="basket-factor box-shadow">
                    <div class="profit-amount">تخفیف  : <span>@Model.DiscountPrice.ToString("#,0") تومان </span></div>
                    <div class="main-payment">مبلغ کل : <span>@Model.Sum.ToString("#,0") تومان</span> </div>
                    <div class="main-payment">موجودی کیف پول شما  : <span>@Model.Balance.ToString("#,0") تومان</span> </div>
                    <div class="final-payment">مبلغ قابل پرداخت : <span>@Model.SumWithDiscount.ToString("#,0") تومان</span></div>
                </div>

                <button type="submit" class="mini-wallet uk-margin-auto-top uk-margin-auto-right">
                    <span class="label">ثبت و پرداخت </span>
                    <span class="rowr">
                        <span></span>
                    </span>
                </button>

            </div>
        </div>
    </form>
}