@model IEnumerable<ShopCartItemVm>
@{
    ViewData["Title"] = "تایید خرید";
    ViewData["Single"] = true;
    ViewData["NoNav"] = true;
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";

    string discountType = ViewBag.typeDiscount.ToString();
}

@if (Model.Any())
{
    <div class="col g-3 uk-margin-medium-bottom">

        <div class="mat-card">
            <div class="rowr uk-margin-small-bottom">
                <h3 class="uk-h2 uk-margin-auto-left">
                    تایید خرید
                </h3>
                <img src="~/st/r/logo.jpg" height="48" width="48" alt="" />
            </div>
            صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
        </div>

        <partial name="_Cart" model="Model" />

        @await Component.InvokeAsync("CheckDiscountUser")

        <div id="FinalVerfity">

        </div>
    </div>

}
@section Scripts{
    <script>
        $('#FinalVerfity').load('/User/Order/FinalVerfity');
    </script>
}