<table class="table mat-card" dir="rtl">
    <thead>
        <tr>
            <th>مقدار</th>
            <th>نوع</th>
            <th>تاریخ</th>
            <th>توضیحات</th>
            <th>تایید شده</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1،380،000</td>
            <td>واریز</td>
            <td>1399/08/09</td>
            <td>بدون توضیحات</td>
            <td>
                <span class="badge">تایید</span>
            </td>
        </tr>
        <tr>
            <td>640،000</td>
            <td>برداشت</td>
            <td>1399/12/09</td>
            <td>
                خرید گوشی موبایل
                <a href="/" class="link-text">سامسونگ</a>
            </td>
            <td>
                <span class="badge">تایید</span>
            </td>
        </tr>
    </tbody>
</table>
