@model IEnumerable<TblWallet>
<table class="table mat-card" dir="rtl">
    <thead>
        <tr>
            <th>مقدار</th>
            <th>نوع</th>
            <th>تاریخ</th>
            <th>توضیحات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Amount</td>

                @if (item.IsDeposit)
                {
                    <td>
                        واریز
                    </td>
                }
                else
                {
                    <td>
                        برداشت
                    </td>
                }
                <td>@item.Date.DateToShamsi()</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
