@model ChargeWalletVm
@{
    ViewData["Title"] = "شارژ کیف پول";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="mat-card  uk-margin-auto-left uk-width-3-5-at-m uk-width-3-5-at-l uk-width-2-5-at-xl">
    <h3 class="uk-h3 uk-margin-small-bottom">
        شارژ کیف پول
    </h3>
    <p class="text-3 uk-margin-small-top uk-margin-bottom">
        دقت کنید، مبلغ غیر قابل عودت می باشد
    </p>
    <form asp-action="ChargeWallet" asp-controller="Wallet" asp-area="User">
        <div class="fg-col" dir="rtl">
            <label class="fg-label">مبلغ شارژ <span class="text-3">(ريال)</span></label>
            <input type="number" class="entry" asp-for="Amount" />
            <span class="text-danger" asp-validation-for="Amount"></span>
        </div>
        <div class="uk-margin-medium-top">
            <button class="btn btn-primary">شارژ</button>
        </div>
    </form>
</div>