
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="wallet">
    <h2 class="title">
        کیف پول
    </h2>
    <a href="/User/Wallet/Charge" class="btn button">
        شارژ
    </a>
    <div class="balance">
        <label class="bal">36,000,000</label>
        <span class="t">تومان</span>
    </div>
</div>

<partial name="_TransactionHistory" />