<div class="product-express">
    <div class="head">
        <h3>پیشنهاد ویژه</h3>
        <ul class="timer">
            <li>
                <label>04</label>
                <span>روز</span>
            </li>
            <li>
                <label>16</label>
                <span>ساعت</span>
            </li>
            <li>
                <label>25</label>
                <span>دقیقه</span>
            </li>
            <li>
                <label>32</label>
                <span>ثانیه</span>
            </li>
        </ul>
    </div>
    <div class="body">
        <img src="~/st/r/phones/p3.jpg" alt="" />
        <div class="star">
            <label>
                <span>4.4</span>
                <span uk-icon="icon:star;ratio:.9"></span>
            </label>
            <span>(2445)</span>
        </div>
        <ul class="colours">
            <li style="background-color:#000"></li>
            <li style="background-color:#ccc"></li>
            <li style="background-color: #fff;border: 1px black solid;"></li>
            <li style="background-color: #E05421"></li>
        </ul>
        <a href="#" class="link-text">
            <h3 class="name" dir="rtl">
                گوشی موبایل Iphone X دو سیمکارته
            </h3>
        </a>
        <span class="discount">
            <span>4,680,000</span>
        </span>
        <span class="price">
            <span class="t">تومان</span>
            <span>3,999,000</span>
        </span>
    </div>
</div>