@{
    Random r = new Random();
}

<div class="product">
    <div class="star-container" uk-tooltip="">
        <div class="Stars" style="--rating: @r.Next(0,5)"></div>
    </div>
    <span class="people">(2445)</span>
    <a href="#" class="link-text">
        <img src="@($"/st/r/phones/p{r.Next(1,9)}.jpg")" alt="" width="200" height="200" />
    </a>
    <a href="#" class="link-text">
        <h3 class="name" dir="rtl">
            گوشی موبایل Iphone X دو سیمکارته 256gb پلاس 7 گیگ رم
        </h3>
    </a>
    <a href="" class="category link-text">دسته بندی</a>
    <span class="discount">
        <span>4,680,000</span>
    </span>
    <span class="price">
        <span class="t">تومان</span>
        <span>3,999,000</span>
    </span>
</div>