<div class="product">
    <div class="star-container" uk-tooltip="">
        <div class="Stars" style="--rating: 5;"></div>
    </div>
    <span class="people">2445</span>
    <img src="" alt="" width="200" height="200" />
    <h3>
        گوشی موبایل I
    </h3>
    <a href="">دسته بندی</a>
    <span class="discount">
        <span>4,680,000</span>
        <span>تومان</span>
    </span>
    <span class="price">
        <span>3,999,000</span>
        <span>تومان</span>
    </span>
</div>