<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        انتخاب دسته بندی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<ul uk-accordion class="mt-3 pt-3 pb-3 uk-text-small uk-border-rounded">
    @{
        IEnumerable<DataLayer.Models.TblCatagory> Parentcatagories = ViewBag.Catagory;
    }
    @foreach (var item in Parentcatagories)
    {
        <li class="col-md-4">
            <a class="uk-accordion-title uk-text-small" href="#">@item.Name</a>
            <div class="uk-accordion-content">
                <ul class="uk-margin-right" uk-accordion>
                    @await Component.InvokeAsync("ShowChildsCatagoryInCreateProduct", new { Id = item.CatagoryId })
                </ul>
            </div>
        </li>
    }
</ul>