<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">

        زیرمجموعه دسته بندی

    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="flex-div">
    <div class="modal-body flex-div">
        <div class="card categry-box flex-div">
            <div class="card-header">

            </div>
            <div class="card-body flex p-0">
                <ul class="list-group list-group-flush pb-4">

                    @* !!!!!!!!!!!!!!!!if is empty!!!!!!!!!!!!!! *@
                    <li>خالی است</li>

                    @* !!!!!!!!!!!!!!!!else!!!!!!!!!!!!!! *@
                    <li class="list-group-item">
                        <div class="row">

                            <a class="col-xl-10 col-lg-10  col-sm-9 col-5">نام دسته بندی</a>

                            <div class="col-xl-2 col-lg-2  col-sm-3 col-5">
                                <div class="option d-flex">

                                    <a data-placement="top" data-toggle="tooltip"><i class="btn ml-2 text-primary" uk-icon="albums-outline"></i></a>

                                    <a data-placement="top" data-toggle="tooltip"><i class="btn ml-2 text-primary" uk-icon="create-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="input-group input-group-sm mt-3">
            <div class="input-group-append">

                <a class="btn btn-success btn-sm text-white float-right">افزودن زیرمجموعه<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></a>

            </div>
        </div>
    </div>
</form>