<div class="procedure mat-card">
    <div class="circles">
        <div class="step done">
            <div class="circle"></div>
            <span class="name">آماده سازی</span>
        </div>
        <div class="line done"></div>
        <div class="step doing">
            <div class="circle"></div>
            <span class="name">در حال انتقال</span>
        </div>
        <div class="line"></div>
        <div class="step ">
            <div class="circle"></div>
            <span class="name">تحویل داده شد</span>
        </div>
    </div>
</div>