<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات سفارش
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="card-table" class="card-body flex-div">
        <div class="form-row ">
            <div class="form-group col-md-4">
                <label>کد سفارش:</label>
                <span>15642</span>
            </div>
            <div class="form-group col-md-4">
                <label>نام مشتری:</label>
                <span>امیر آقایی</span>
            </div>
            <div class="form-group col-md-4">
                <label>تاریخ ثبت سفارش:</label>
                <span>تاریخ</span>
            </div>
            <div class="form-group col-md-4">
                <label>وضعیت سفارش: </label>
                <span class="text-success">تکمیل شده</span>
                <span class="text-info">درحال ارسال</span>
                <span class="text-warning">در حال سفارش</span>
            </div>
            <div class="form-group col-md-4">
                <label>وضعیت پرداخت: </label>
                <span class="text-success">پرداخت شده</span>
                <span class="text-warning">پرداخت نشده</span>
            </div>
            <div class="form-group col-md-4">
                <label>نحوه پرداخت: </label>
                <span>پرداخت آنلاین</span>
                <span>پرداخت درب منزل یا در محل فروشگاه</span>
                <span>کارت به کارت و ارسال رسید پرداخت</span>
            </div>
            <div class="form-group col-md-4">
                <label>وضعیت ارسال: </label>
                <span>ارسال از طریق پست</span>
                <span>تحویل حضوری به خریدار</span>
                <span>ارسال از طریق تیپاکس یا چاپار</span>
            </div>
            <div class="form-group col-md-4">
                <label>هزینه ارسال:</label>
                <span>15642</span>
            </div>
            <div class="form-group col-md-4">
                <label>کد تخفیف: </label>
                <span class="text-success">دارد</span>
                <span class="text-danger">ندارد</span>
            </div>
            <div class="form-group col-md-4">
                <label>آدرس خریدار:</label>
                <span>ابرسان</span>
            </div>
            <div class="form-group col-md-4">
                <label>کدپستی:</label>
                <span>123456789</span>
            </div>
            <div class="form-group col-md-4">
                <label>مبلغ کل سفارش:</label>
                <span>546542</span>
            </div>
        </div>
        <div class="table-responsive flex">
            <hr />
            <table class="table fixed">
                <thead class="thead-light">
                    <tr>
                        <th>نام محصول</th>
                        <th>تعداد</th>
                        <th>قیمت</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>هدست</td>
                        <td>5</td>
                        <td>1300</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>