<div class="modal-header">
        <h6 class="modal-title" id="modalCenterTitle">
            بررسی موجودی 
        </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table fixed">
        <thead class="thead-light">
            <tr>
                <th>رنگ</th>
                <th>تعداد موجودی</th>
                <th>تایید</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <div class="form-row ">
                        <label class="mr-2"> مشکی </label>
                        <div class=" uk-border-rounded mr-2 color-box" style="background:#000000;"></div>
                    </div>
                </td>
                <td>
                    <input class="form-control form-control-sm col-md-4" placeholder="مثال:3">
                </td>
                <td>
                    <button class="btn btn-sm btn-success">ثبت</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-row ">
                        <label class="mr-2"> قرمز </label>
                        <div class=" uk-border-rounded mr-2 color-box" style="background:#ff0000;"></div>
                    </div>
                </td>
                <td>
                    <input class="form-control form-control-sm col-md-4" placeholder="مثال:2">
                </td>
                <td>
                    <button class="btn btn-sm btn-success">ثبت</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-row ">
                        <label class="mr-2"> سرمه ای </label>
                        <div class=" uk-border-rounded mr-2 color-box" style="background:#225275;"></div>
                    </div>
                </td>
                <td>
                    <input class="form-control form-control-sm col-md-4" placeholder="مثال:5">
                </td>
                <td>
                    <button class="btn btn-sm btn-success">ثبت</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer justify-content-end">
    <label>قیمت:</label>
    <input class="form-control form-control-sm col-md-2" placeholder="مثال:50000 تومان">
    <button class="btn btn-sm btn-success ml-md-4">ثبت</button>
</div>
