
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/forum.min.css" rel="stylesheet" />

}

@section Aside{

    @await Component.InvokeAsync("AdView")
    @await Component.InvokeAsync("AdView")

}

<nav class="breadcrumb uk-padding-remove">
    <a href="">تالار گفتگو</a>
    <a href="" class="active">صفحه اصلی</a>
</nav>

<div class="threads col">
    <partial name="_ThreadBlock" />
    <partial name="_ThreadBlock" />
    <partial name="_ThreadBlock" />
</div>