@{
    ViewData["Title"] = "Index";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mat-card col">
    <h3 class="uk-margin-bottom">
        موضوع جدید
    </h3>
    <div class="fg-col">
        <label class="fg-label">متن شما</label>
        <textarea class="entry"></textarea>
    </div>
    <div class="rowr g-3">
        <button class="btn btn-primary">ثبت</button>
        <button class="btn btn-secondary">لغو</button>
    </div>
</div>