
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}

@section Aside{
    <div class="categories">
        <ul>
            <li>
                <a href="" class="link-text">سامسونگ</a>
            </li>
            <li>
                <a href="" class="link-text">شیائومی</a>
            </li>
            <li>
                <a href="" class="link-text">اپل</a>
            </li>
            <li>
                <a href="" class="link-text">لوازم جانبی موبایل</a>
            </li>
            <li>
                <a href="" class="link-text">با تخفیف</a>
            </li>
            <li>
                <a href="" class="link-text">لوکس</a>
            </li>
        </ul>
    </div>

    <div class="mat mat-border">
        <partial name="_ExpressProductBlock" />
    </div>

    <div swap="hello"><partial name="_Ad" /></div>

    <partial name="_Ad" />

    <partial name="_Ad" />

}

<div class="main-slideshow uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio:16:7">

    <ul class="uk-slideshow-items">
        <li>
            <a href="/"><img src="~/st/r/ads/a1.jpg" alt="" uk-cover></a>
        </li>
        <li>
            <a href="/"><img src="~/st/r/ads/a2.jpg" alt="" uk-cover></a>
        </li>
        <li>
            <a href="/"><img src="~/st/r/ads/a3.jpg" alt="" uk-cover></a>
        </li>
    </ul>

    <div class="navigation uk-position-bottom-center uk-position-small">
        <ul class="uk-dotnav">
            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        </ul>
    </div>

</div>

<div class="product-slider uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="">

    <div class="title">
        <a href="#" class="dot-container">
            <img src="~/st/v/dot.svg" alt="" class="dot" />
            <h3>سامسونگ</h3>
        </a>
    </div>

    <ul class="uk-slider-items">
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
    </ul>

    <ul class="navigation uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

<div class="product-slider uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="">

    <div class="title">
        <a href="#" class="dot-container">
            <img src="~/st/v/dot.svg" alt="" class="dot" />
            <h3>شیائومی</h3>
        </a>
    </div>

    <ul class="uk-slider-items">
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
        <li>
            <partial name="_ProductBlock" />
        </li>
    </ul>

    <ul class="navigation uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

<div class="mat-card uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="">

    <div class="title gap-b">
        <a href="#" class="dot-container">
            <img src="~/st/v/dot.svg" alt="" class="dot" />
            <h3>وبلاگ ها</h3>
        </a>
    </div>

    <ul class="uk-slider-items uk-child-width-1-2 uk-grid">
        <li>
            <partial name="_BlogBlock" />
        </li>
        <li>
            <partial name="_BlogBlock" />
        </li>
        <li>
            <partial name="_BlogBlock" />
        </li>
        <li>
            <partial name="_BlogBlock" />
        </li>
    </ul>

    <ul class="navigation uk-slider-nav uk-dotnav uk-flex-center uk-margin uk-margin-top"></ul>

</div>


<div id="hello"></div>

<div class="gallery-grid mat-card">
    <div class="title">
        <a href="#" class="dot-container">
            <img src="~/st/v/dot.svg" alt="" class="dot" />
            <h3>گالری</h3>
        </a>
    </div>
    <div class="grid" uk-lightbox>
        <a href="~/st/r/ads/a1.jpg" data-caption="نام"><img src="~/st/r/ads/a1.jpg" alt="" /></a>
        <a href="~/st/r/phones/p1.jpg" data-caption="نام"><img src="~/st/r/phones/p1.jpg" alt="" /></a>
        <a href="~/st/r/ads/a3.jpg" data-caption="نام"><img src="~/st/r/ads/a3.jpg" alt="" /></a>
        <a href="~/st/r/phones/p2.jpg" data-caption="نام"><img src="~/st/r/phones/p2.jpg" alt="" /></a>
        <a href="~/st/r/ads/a4.jpg" data-caption="نام"><img src="~/st/r/ads/a4.jpg" alt="" /></a>
        <a href="~/st/r/ads/a6.jpg" data-caption="نام"><img src="~/st/r/ads/a6.jpg" alt="" /></a>
    </div>
    <div class="row">
        <a class="btn btn-secondary uk-margin-auto" href="">بیشتر</a>
    </div>
</div>

<form class="mat-card uk-margin-remove-top">
    <h3>درخواست خدمات درب منزل</h3>
    <p class="text-3">برای درحواست خدمات تعمیراتی و گارانتی درب منزل این فرم را پر کنید </p>
    <div class="col">
        <div class="rowr uk-child-width-1-2">
            <div class="fg-col uk-margin-left">
                <label for="Name" class="fg-label">نام و نام خانوادگی</label>
                <input id="Name" name="Name" type="text" class="entry" value="" />
                <span class="text-danger"></span>
            </div>
            <div class="fg-col">
                <label for="TelNo" class="fg-label">شماره تلفن</label>
                <input id="TelNo" name="TelNo" type="tel" class="entry" value="" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="fg-col">
            <label for="Address" class="fg-label">آدرس</label>
            <textarea id="Address" name="Address" class="entry"></textarea>
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="rowr gap-t">
        <button class="btn btn-primary">فرستادن درخواست</button>
    </div>
</form>

<div class="questions mat-card uk-padding-remove">
    <h3 class="mat-pad">
        پاسخ به سوالات شما
    </h3>
    <hr class="uk-margin-remove" />
    <div>
        <ul uk-accordion class="uk-margin-remove-top">
            <li>
                <a class="uk-accordion-title" href="#">این یک سوال می باشد</a>
                <p class="uk-accordion-content uk-margin-top uk-margin-remove-bottom text-3">
                    این جواب سوال می باشد
                </p>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">این هم یک سوال می باشد</a>
                <p class="uk-accordion-content uk-margin-top uk-margin-remove-bottom text-3">
                    این جواب سوال می باشد
                </p>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">این یک سوال می باشد</a>
                <p class="uk-accordion-content uk-margin-top uk-margin-remove-bottom text-3">
                    این جواب سوال می باشد
                </p>
            </li>
        </ul>
    </div>
</div>

@section Scripts{

    <script src="~/js/main.js"></script>

} 