
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/pages/index.min.css" rel="stylesheet" />
}
@section Aside{
    <div class="categories">
        <ul>
            @await Component.InvokeAsync("BrandListView")
        </ul>
    </div>
    <div class="mat mat-border">
        <partial name="_ExpressProductBlock" />
    </div>
    <div swap="hello"><partial name="_Ad" /></div>
    <partial name="_Ad" />
    <partial name="_Ad" />
}
<!-- #SliderView -->
@await Component.InvokeAsync("SliderView")
<!-- #SliderView -->
<!-- #Product -->
@await Component.InvokeAsync("ProductView")
<!-- #Product -->
<!-- #Blogs -->
@await Component.InvokeAsync("BlogsView")
<!-- #Blogs -->
<div id="hello"></div>
<!-- #GalleryView -->
@await Component.InvokeAsync("GalleryView")
<!-- #GalleryView -->
<!-- #DeliveryView -->
@await Component.InvokeAsync("DeliveryView")
<!-- #DeliveryView -->
<!-- #questions -->
@await Component.InvokeAsync("QuestionsView")
<!-- #questions -->
